@import '../../../../../../variables';

.people-sidebar-form-wrapper {
  top: 0;
  right: 0;
  position: absolute;
  width: 0;
  min-height: 100%;
  height: fit-content;
  overflow-y: none;
  overflow-x: hidden;
  transition-duration: 0.3s;
  background-color: $white;
  &.show {
    width: 100%;
    transition-duration: 0.3s;
  }
  > .sub {
    min-width: 350px;
    width: 100%;
    min-height: 100%;
    height: fit-content;
    overflow-y: none;
    background-color: $white;
    padding: 1rem;
    > .custom-button {
      padding: 0.5rem 1rem;
    }
    .form {
      margin-top: 2rem;
      h2 {
        font-size: 1.2em;
        font-weight: 600;
        margin-bottom: 1rem;
      }
    }
  }
}
