@instanvi:registry=https://gitlab.com/api/v4/projects/49116591/packages/npm/
@instanvi:registry=https://gitlab.com/api/v4/projects/49116591/packages/npm/
@instanvi:registry=https://gitlab.com/api/v4/projects/49116591/packages/npm/
