@import '../../variables';

.people-layout {
  width: 100%;
  height: auto;
  display: flex;
  > .sidebar {
    min-width: 350px;
    width: 350px;
    height: calc(100vh - 108px);
    border-right: 1px solid $border-color;
    overflow-y: auto;
  }
  > .main {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    padding: 2rem;
    > .main-sub {
      max-width: 1500px;
      width: 100%;
    }
  }
}
