$primary: #043a08;
$primary-light: #065e0c;
$primary-very-light: #d7e6d8;
$white: #fff;
$text: #000;
$light-text: #828282;
$red: #f44336;
$border-radius: 0.5rem;
$border-color: #e5e7eb;
$light-bg: rgba(238, 238, 238, 0.575);
$border-color: #e5e7eb;
