@import '../../../../variables';

.people-sidebar {
  > .sub {
    padding: 1rem;
    padding-bottom: 3rem;
    border-bottom: 1px solid $border-color;
    .sidebar-section {
      .custom-button {
        padding: 0.5rem;
      }
    }
    .tags-list,
    .segments-list {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      margin-bottom: 1rem;
    }
  }
}
