button.custom-button {
  padding: 0.75rem 1rem;
  border-radius: var(--border-radius);
  font-size: 1em;
  transition-duration: 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.7rem;
  cursor: pointer;
}

button.custom-button span {
  text-transform: capitalize;
}

button.custom-button:hover {
  transition-duration: 0.3s;
}

button.custom-button:disabled {
  opacity: 0.75;
  cursor: not-allowed;
}

/* ------------------------------ primary theme ----------------------------- */
button.custom-button.primary {
  background-color: var(--primary);
}

button.custom-button.primary:hover:not(:disabled) {
  background-color: var(--primary-light);
}

button.custom-button.primary span,
button.custom-button.primary .icon {
  color: var(--white);
}

/* ------------------------------ border-light theme ----------------------------- */
button.custom-button.border-light {
  background-color: var(--white);
  border: 1px solid var(--border-color);
}

button.custom-button.border-light:hover:not(:disabled) {
  background-color: var(--light-bg);
}

button.custom-button.border-light span,
button.custom-button.border-light .icon {
  color: var(--text);
}
